<!-- About Page -->
{% extends 'robotronics/base.html' %}

{% block navbar %}
  <li><a href="{% url 'contacts' %}">Contact Us</a></li>
  <li><a href="http://sntc.iitmandi.ac.in/inv_man">Resources</a></li>
  <li><a href="{% url 'team' %}">Team</a></li>
  <li><a href="{% url 'tutorial' %}">Tutorials</a></li>
  <li><a href="{% url 'project' %}">Projects</a></li>
  <li class="active"><a href="{% url 'about' %}">About Us</a></li>
  <li><a href="{% url 'index' %}" class="scroll">Home</a></li>
{% endblock %}

{% block banner %}
  <h1>ROBOTRONICS CLUB</h1>
  <div class="clearfix"></div>
{% endblock %}

{% block content %}
  <div class="container">
    <div class="jumbotron xnew">
      <h2>About Us</h2>
    </div>
    <div>
      <p class="text">Robotronics Club is the official club under Science and Technology Council, IIT Mandi. It is one of the most active clubs created to bring out the creativity among the students and make them familiar with the ever growing world of Robotics. The club provides an entry point and a platform to the students where they can come and learn this amazing field of technology.</p>
    </div>
    <div class="jumbotron xnew">
      <h2>What do we do?</h2>
    </div>
    <div>
      <p class="text">The club organises activities throughout the year and aids and encourage the students to convert their ideas into reality and build robots beneficial for the whole mankind.
        It is the main focal point for activities related Robotronics.
      </p>
    </div>
    <div>
      <p class="text">So, come and “Let’s automate the boring stuff..”
      </p>
    </div><br><br>
  </div>
{% endblock %}
