<!-- About Page -->
{% extends 'robotronics/base.html' %}
{% load static %}

{% block navbar %}
  <li><a href="{% url 'index' %}" class="scroll">Home</a></li>
  <li><a href="{% url 'about' %}">About Us</a></li>
  <li class="active"><a href="{% url 'project' %}">Projects</a></li>
  <li><a href="{% url 'tutorial' %}">Tutorials</a></li>
  <li><a href="{% url 'team' %}">Team</a></li>
  <li><a href="http://sntc.iitmandi.ac.in/inv_man">Resources</a></li>
  <li><a href="{% url 'contacts' %}">Contact Us</a></li>
{% endblock %}

{% block content %}
  <div class="container">
    <div class="jumbotron">
      <h2>Projects</h2>
    </div>
    <div class="row equal">
        <!-- Blog Post -->
        {% for proj in list_projects %}
          <div class="col-md-4 col-sm-4">
            <div class="card bg-light mb-4">
              <div class="card-body">
                <h2 class="card-title">{{ proj.Title }}</h2>
                <p class="card-text">{{ proj.desc }}...</p>
                <a href="{% url 'proj' proj.id %}" class="btn btn-primary">Read More &rarr;</a>
              </div>
              <div class="card-footer text-muted">
                Posted on {{ proj.date }}
              </div>
            </div>
          </div>
        {% endfor %}
    </div>
  </div>
{% endblock %}
