<!-- About Page -->
{% extends 'robotronics/base.html' %}

{% block navbar %}
  <li><a href="{% url 'index' %}" class="scroll">Home</a></li>
  <li><a href="{% url 'about' %}">About Us</a></li>
  <li><a href="{% url 'project' %}">Projects</a></li>
  <li><a href="{% url 'tutorial' %}">Tutorials</a></li>
  <li class="active"><a href="{% url 'team' %}">Team</a></li>
  <li><a href="http://sntc.iitmandi.ac.in:13000/">Resources</a></li>
  <li><a href="{% url 'contacts' %}">Contact Us</a></li>
{% endblock %}

{% block content %}
  <div class="container">
    <h1>Coordinators</h1>
    <div class="row">
    {% for memcoord in coord %}
      <div class="col-lg-15 col-md-6 col-sm-12">
        <h3>{{memcoord.name}}</h3>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="container">
    <h1>Core Team</h1>
    <div class="row">
    {% for memteam in team %}
      <div class="col-lg-15 col-md-6 col-sm-12">
        <h3>{{memteam.name}}</h3>
      </div>
    {% endfor %}
    </div>
  </div>
  <div class="container">
    <h1>Coordinators '16</h1>
    <div class="row">
    {% for memcoord16 in coord16 %}
      <div class="col-lg-15 col-md-6 col-sm-12">
        <h3>{{memcoord16.name}}</h3>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="container">
    <h1>Core Team '16</h1>
    <div class="row">
    {% for memteam16 in team16 %}
      <div class="col-lg-15 col-md-6 col-sm-12">
        <h3>{{memteam16.name}}</h3>
      </div>
    {% endfor %}
    </div>
  </div>
{% endblock %}
