<!-- Team Page -->
{% extends 'robotronics/base.html' %}

{% block navbar %}
  <li><a href="{% url 'contacts' %}">Contact Us</a></li>
  <li><a href="http://sntc.iitmandi.ac.in/inv_man">Resources</a></li>
  <li class="active"><a href="{% url 'team' %}">Team</a></li>
  <li><a href="{% url 'tutorial' %}">Tutorials</a></li>
  <li><a href="{% url 'project' %}">Projects</a></li>
  <li><a href="{% url 'about' %}">About Us</a></li>
  <li><a href="{% url 'index' %}" class="scroll">Home</a></li>
{% endblock %}

{% block content %}
  <div id="teambody">
    <div class="container">
      <div class="jumbotron">
        <h2>Team</h2>
      </div>

      <div class="row">
        <div class="heading-title text-center">
          <h3 class="text-uppercase">Coordinators</h3>
        </div>
        {% if coord %}
          {% for mem in coord %}
            <div class="col-md-4 col-sm-4">
              <div class="team-member">
                <div class="team-img">
                  <img src="/static/robotronics/team/{{mem.name}}.jpg" alt="team member" class="img-responsive">
                </div>
                <div class="team-hover">
                  <div class="desk">
                    <p>{{mem.details}}</p>
                  </div>
                  <div class="s-link">
                    <a href="{{mem.facebook}}"><i class="icon-facebook"></i></a>
                    <a href="{{mem.email}}"><i class="icon-mail-alt"></i></a>
                  </div>
                </div>
              </div>
              <div class="team-title">
                <h5>{{mem.name}}</h5>
              </div>
            </div>
          {% endfor %}
        {% else %}
          <div class="container">
            <h4>NO ONE</h4>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
  <div id="teambody">
    <div class="container">
      <div class="row">
        <div class="heading-title text-center">
          <h3 class="text-uppercase">Core Team</h3>
        </div>
        {% if team %}
          {% for mem in team %}
            <div class="col-md-4 col-sm-4">
              <div class="team-member">
                <div class="team-img">
                  <img src="/static/robotronics/team/{{mem.name}}.jpg" alt="team member" class="img-responsive">
                </div>
                <div class="team-hover">
                  <div class="desk">
                    <p>{{mem.details}}</p>
                  </div>
                  <div class="s-link">
                    <a href="{{mem.facebook}}"><i class="icon-facebook"></i></a>
                    <a href="{{mem.email}}"><i class="icon-mail-alt"></i></a>
                  </div>
                </div>
              </div>
              <div class="team-title">
                <h5>{{mem.name}}</h5>
              </div>
            </div>
          {% endfor %}
        {% else %}
          <div>
            <h4>NO ONE</h4>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
  <div id="teambody">
    <div class="container">
      <div class="row">
        <div class="heading-title text-center">
          <h3 class="text-uppercase">Coordinators '16</h3>
        </div>
        {% if coord16 %}
          {% for mem in coord16 %}
            <div class="col-md-4 col-sm-4">
              <div class="team-member">
                <div class="team-img">
                  <img src="/static/robotronics/team/{{mem.name}}.jpg" alt="team member" class="img-responsive">
                </div>
                <div class="team-hover">
                  <div class="desk">
                    <p>{{mem.details}}</p>
                  </div>
                  <div class="s-link">
                    <a href="{{mem.facebook}}"><i class="icon-facebook"></i></a>
                    <a href="{{mem.email}}"><i class="icon-mail-alt"></i></a>
                  </div>
                </div>
              </div>
              <div class="team-title">
                <h5>{{mem.name}}</h5>
              </div>
            </div>
          {% endfor %}
        {% else %}
          <div>
            <h4>NO ONE</h4>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
  <div id="teambody">
    <div class="container">
      <div class="row">
        <div class="heading-title text-center">
          <h3 class="text-uppercase">Core Team '16</h3>
        </div>
        {% if team16 %}
          {% for mem in team16 %}
            <div class="col-md-4 col-sm-4">
              <div class="team-member">
                <div class="team-img">
                  <img src="/static/robotronics/team/{{mem.name}}.jpg" alt="team member" class="img-responsive">
                </div>
                <div class="team-hover">
                  <div class="desk">
                    <p>{{mem.details}}</p>
                  </div>
                  <div class="s-link">
                    <a href="{{mem.facebook}}"><i class="icon-facebook"></i></a>
                    <a href="{{mem.email}}"><i class="icon-mail-alt"></i></a>
                  </div>
                </div>
              </div>
              <div class="team-title">
                <h5>{{mem.name}}</h5>
              </div>
            </div>
          {% endfor %}
        {% else %}
          <div>
            <h4>NO ONE</h4>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
  <div id="teambody">
    <div class="container">
      <div class="row">
        <div class="heading-title text-center">
          <h3 class="text-uppercase">Web Developers</h3>
        </div>
        {% if webdev %}
          {% for mem in webdev %}
            <div class="col-md-4 col-sm-4">
              <div class="team-member">
                <div class="team-img">
                  <img src="/static/robotronics/team/{{mem.name}}.jpg" alt="team member" class="img-responsive">
                </div>
                <div class="team-hover">
                  <div class="desk">
                    <p>{{mem.details}}</p>
                  </div>
                  <div class="s-link">
                    <a href="{{mem.facebook}}"><i class="icon-facebook"></i></a>
                    <a href="{{mem.email}}"><i class="icon-mail-alt"></i></a>
                  </div>
                </div>
              </div>
              <div class="team-title">
                <h5>{{mem.name}}</h5>
              </div>
            </div>
          {% endfor %}
        {% else %}
          <div>
            <h4>NO ONE</h4>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
